.container{
    background-color: #acb7bd;
}

#content{
    background-color: #acb7bd;
}

.main{
    margin-left: 30%;
    color: #ffffff;
    margin-bottom: 5%;
}

#mainMenu{
    margin-left: 30%;
    color: #060668;
    font-weight: bolder;
    margin-bottom: 5%;
    margin-top: 10%;
}

  #copyright{
      margin-top:100px;
      margin-bottom: 0%;
      color: #ffffff;
  }

.panelMain{
    background-color: #ffffff;
}

.faq{
    padding-top: 60px;
}
